/* 
    Created on : May 27, 2017, 7:48:28 PM
    Author     : Nathan
    Function   : Serves styles for screen sizes above 699px
*/

/*
 *  ABOUT SECTION
*/
#about-sec{
    padding: 35px 15px;
}
#about-sec > h1{
    font-size: 35px;
    margin-bottom: 20px;
}

/*
 *  SKILL SECTION
*/

#skill-sec{
    height: auto;
    padding: 100px 15px 50px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}
.skill-item{
    width: 32.5%;
    height: 300px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px;
    background: #E8F4F4;
}
.skill-item > div{
    float: none;
    width: 100px;
    height: 100px;
    margin: 0px auto;
    border-width: 2px;
    border-color: #E8F4F4;
    margin-bottom: 30px;
    margin-top: -70px;
    background: #fff;
}
.skill-item > h3{
    width: 100%;
    margin: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
    font-size: 17px;
}
.skill-item > p{
    width: 100%;
    margin: 0px;
    font-size: 15px;
}

/*
 *  FOOTER SECTION
 *
 */
footer > h3{
    margin: 15px 0px;
}
footer > button{
    width: 40%;
}