/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 27, 2017, 7:48:28 PM
    Author     : Nathan
*/

/*
 *  GENERAL
 *
 */
body{
    background: #f3f3f3;
    font-family: 'prata', sans-serif;
}
section{
    padding: 15px;
}
div, section{
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6{
    margin: 0px;
}
img{
    width: 100%;
    height: 100%;
}
.page-wrapper{
    position: absolute;
    top: 0px;
    left: 0px;
}


/*
 *  POSITIONING
 *
 */
.col-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.row-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.left{
    float: left;
}
.right{
    float: right;
}

/*
 *  HEADER
 *
 */
header{
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px 15px 5px 15px;
    background: rgba(245, 255, 245, 0.0);
}
header > img{
    width: 35px;
}
header > button{
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #008c8c;
    border-radius: 10px;
    margin-top: 5px;
    font-weight: bold;
    background: transparent;
    color: #008c8c;
}

/*
 * HOME SECTION
 *
 */
#home-sec{
    height: 80.5vh;
    padding: 0px;
    background: url('../media/rail.jpg');
    background-position: center;
    text-align: center;
    color: #fff;
}
#veil{
    width: 100%;
    height: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.4);
}
#veil > img{
    width: 50px;
    height: 60px;
    margin-bottom: 15px;
    margin-top: 70px;
    align-self: center;
}
#veil > h1{
    font-family: 'Prata', sans-serif;
    font-size: 32px;
}
#veil > hr{
    width: 10%;
    border-color: #fff;
    margin: 0px auto 10px auto;
}
#veil> h3{
    font-family: 'Handlee', sans-serif;
    font-size: 19px;
}
#veil > p{
    font-size: 16px;
}

/*
 *  ABOUT SECTION
 *
 */
#about-sec{
    padding: 30px 15px;
    text-align: center;
    background: #fcfcfc;
}

#about-sec > h1{
    font-family: 'Prata', sans-serif;
    font-size: 27px;
    color: #FF8D0C;
}
#tech{
    padding: 0px;
}
#tech > li{
    display: inline-block;
    box-sizing: border-box;
    width: auto;
    padding: 4px 10px;
    margin: 2.5px 1.5px;
    border: 2px solid #008c8c;
    border-radius: 3.5px;
    font-weight: bold;
    font-size: 14px;
    color: #008c8c;
}

/*
 *  SKILL SECTION
 *
 */
#skill-sec{
    padding: 20px 15px;
    background: #fcfcfc;
}
.skill-item:last-child{
    margin-bottom: 0px;
}
.skill-item{
    margin-bottom: 10px;
}
.skill-item > div{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1.5px solid #A1BAB1;
}
.skill-item > h3{
    display: inline-block;
    width: auto;
    margin-left: 15px;
    text-shadow: 0px 0px 0.5px #ccc;
    color: #FF8D0C;
}
.skill-item > p{
    width: 80%;
    margin-top: 3.5px;
    margin-left: 50px;
    font-size: 14px;
    line-height: 1.5;
}



/*
 *  FOOTER
*/
footer{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 25px 15px;
    text-align: center;
    background: #008c8c;
    color: #fff;
}
footer > h3{
    font-size: 24px;
    margin-bottom: 20px;
}
footer > button{
    align-self: center;
    width: 80%;
    padding: 10px 50px;
    border: 4px solid #fff;
    border-radius: 25px;
    font-weight: bolder;
    font-size: 18px;
    background: transparent;
    color: #fff;
}